#banner
  .banner_content
    %h1 NoteNote
    %p Your online notebook. Never forget an idea again.
    %button= link_to "Sign up", new_user_registration_path

#testimonial
  .wrapper
    %p.quote "The greates notebook application. Period."
    %p.name - Carl Madsen

#callouts
  .callout_inner
    .wrapper
      .callout
        %i.fa.fa-pencil
        %h2 Notes
        %p PBR&B chambray small batch, echo park hashtag chartreuse ethical. Kitsch tacos fixie, blue bottle synth swag next level put a bird on it skateboard austin DIY.
      .callout
        %i.fa.fa-rocket
        %h2 Rocket
        %p PBR&B chambray small batch, echo park hashtag chartreuse ethical. Kitsch tacos fixie, blue bottle synth swag next level put a bird on it skateboard austin DIY.
      .callout
        %i.fa.fa-bolt
        %h2 Lightning
        %p PBR&B chambray small batch, echo park hashtag chartreuse ethical. Kitsch tacos fixie, blue bottle synth swag next level put a bird on it skateboard austin DIY.

#bottom_cta
  .wrapper
    %h2 For Realz!
    %p I want you to sign up... If you don't, I will find you!
    %button= link_to "Click Meeee!!!", new_user_registration_path

%footer
  %p &copy; Carl Madsen